* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #23272A;
}

header {
  background-color: #0E141B;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  align-items: center;
  height: 80px;
}
header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: aliceblue;
}
header nav ul {
  display: flex;
  color: whitesmoke;
  list-style: none;
  gap: 10px;
}
header nav ul li a:link, header nav ul li a:visited {
  font-family: "Lexend Deca", sans-serif;
  color: whitesmoke;
  font-weight: 500;
  font-size: small;
  text-decoration: none;
}
header nav.navbar div.container-fluid div.collapse ul.navbar-nav li.nav-item a.nav-link:hover, header li.nav-link a:active {
  color: crimson;
}

.bg-light {
  background-color: #0E141B !important;
}

.navbar-nav .nav-link.active {
  color: whitesmoke !important;
}

button.navbar-toggler {
  background-color: whitesmoke !important;
}

h1 {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 450%;
  color: whitesmoke;
  text-align: left;
}


main.experiencia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

div.contenido.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section {
  display: none;
}

div.tarjeta {
  display: flex;
  align-items: flex-start;
  background-color: #0E141B;
  padding: 20px;
  border-radius: 10px;
  gap: 75px;
  width: 80%;
  margin-bottom: 50px;
}

img {
  display: none;
}


h3 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 130% ;
  color: #ff5277 ;
  text-align: justify;
  margin-bottom: 20px;
}

p.empresa, p.duracion, p.descripcion {
  font-family: "Libre Baskerville", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 100%;
  color: whitesmoke;
  text-align: justify;
}


button {
  width: 15%;
  font-family: "Libre Baskerville", serif;
  font-size: large;
  text-decoration-color: #ff5277;
  font-style: normal;
  align-items: center;
  margin-bottom: 50px;
}

.custom-confirm-button {
  width: 100%; 
  max-width: 300px; 
}
